.main-content {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
}
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    margin-top: 15px;
}

.Header-text {
    color: #45322E;
    font-family: "Nunito Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.114px;
}

.container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
}

.white-container {
    background-color: #fff;
    width: 15%; 
    height: 70px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 12px;
    transition: transform 0.3s ease;
}

.white-container:hover {
    transform: translateY(-5px); 
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 10;
}

.icon-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.icon-text {
    font-size: 14px;
    font-weight: 600;
    color: #636466;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 12px;
}

#users-number {
    font-size: 24px;
    font-weight: 700;
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}

#admins-number {
    font-size: 24px;
    font-weight: 700;
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}

#books-number {
    font-size: 24px;
    font-weight: 700;
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}

#borrows-number{
    font-size: 24px;
    font-weight: 700;
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}

#returns-number{
    font-size: 24px;
    font-weight: 700;
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}

.icon-image {
    width: 30px;
    height: 30px;
}
.latest-borrows {
    margin-top: 30px;
    padding: 0 20px; 
}

.latest-borrows-text {
    color: #45322E;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.114px;
}
.borrows-table {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 97%;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 1200px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    border: 0.6px solid #D5D5D5; 
    border-radius: 14px; 
    overflow: hidden; 
    background: #FFF;   
}

thead {
    background-color: white; 
    height: 49px; 
    border-bottom: 0.6px solid #D5D5D5; 
}

.table-heading th {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #36383a;
    padding-left: 30px;
}

.table-heading th:nth-last-child(-n+2) {
    padding-left: 17px;
}

tbody tr {
    background-color: #ffffff; 
    height: 60px; 
    border-bottom: 1px solid #e0e0e0;
}

tbody tr:last-child {
    border-bottom: none; 
}

tbody td {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #36383a;
    padding-left: 30px;
}