:root {
    --background-color: #fefbf8;
    --text-color-primary: #8c6051;
    --text-color-secondary: #8a8a8a;
    --text-color-hover: #4c4c4c;
    --separator-color: #dcdcdc;
}

.main-content {
    width: 120%;
    padding: 20px;
    overflow-y: auto; 
    max-height: 100vh; 
    margin-left: 20px;
}


.search-button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button img {
    width: 16px;
    height: 16px;
}

.user-section {
    margin-top: auto; 
    width: 100%;
}

.profile {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px; 
}

.log-out {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.book-list {
    margin-top: 20px;
    width: 100%;
    /* background: #fff; */
    border-radius: 8px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /* background: var(--background-color); */
    font-weight: 600;
    color: #000; /* Change to black */
    /* border-bottom: 1px solid var(--separator-color); */
    
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--separator-color);
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
}

.table-row:last-child {
    border-bottom: none;
}

.column-title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1.5;
}

.book-cover {
    width: 50px;
    height: 70px;
    border-radius: 4px;
    object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.book-title {
    font-weight: normal;
    font-size: 15px;
    font-family: Inter;
    color: #4d4d4d;
    margin-bottom: 5px;
}

.book-author,
.book-edition {
    font-size: 12px;
    padding: 0 2 0 2px;
    color: var(--text-color-secondary);
}

.column-category {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.category-text {
    font-size: 16px;
    font-weight: normal;
    color: #4d4d4d;
}

.subcategory-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-secondary);
}

.column-status {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: flex-start;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 12px;
    min-width: 70px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.status-badge.in-shelf{
    background-color: #214539;
}

.status-badge.borrowed{
    background-color: #735E57;
}
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5D1B21;
    font-size: 16px;
}

.favorite-button:hover {
    color: var(--text-color-hover);
}

.preview-button {
    padding: 5px 10px;
    border: 1px solid var(--text-color-primary);
    border-radius: 4px;
    min-width: 70px;
    background: none;
    color: var(--text-color-primary);
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.preview-button:hover {
    background: var(--text-color-primary);
    color: #fff;
}

.back-to-home {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-color-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-to-home:hover {
    color: var(--text-color-hover);
}

.favorites-header {
    font-size: 24px;
    font-weight: 700;
    color: #45322E; 
    margin-bottom: 20px;
}

.footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    /* justify-content: space-between; */
    width: 15%;
    margin-left: 43%;
    padding-top: 5px;
}

.footer-text{
    color: #8A8A8A;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 128.523%; /* 19.278px */
}

.footer-right-icon{
    color: #5D1B21;
}

.footer-left-icon {
    color: #8A8A8A;
}


.modal-Book {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-Book-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    /* text-align: center; */
    width: 450px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: "Nunito Sans", sans-serif;
    height: 250px;
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.pop-up-book-image{
    width: 30%;
    height: 90%;
    margin: 20px;
}
.pop-up-img{
    height: 100%;
    width: 100%;
}
.book-pop-up-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.title-fav{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.title-fav .favorite-button{
    margin-top: 2px;
    font-size: 19px;
}

.pop-up-book-title{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.523%; /* 44.983px */
}

.pop-up-author{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.borrows{
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pop-up-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.pop-up-description{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.523%; /* 25.705px */
}

.pop-up-text{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status{
    color: #4D4D4D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status-btn{
    width: 75px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #214539;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.borrow-btn{
    border-radius: 10px;
    background: #5D1B21;
    width: 150px;
    height: 30px;
    /* flex-shrink: 0; */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    padding-top: 10px;
    cursor: pointer;
}

.modal-Book-toggle {
    display: none;
}

.modal-Book-toggle:checked+.modal-Book {
    display: flex;
}

.modal-profile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-profile-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    /* text-align: center; */
    width: 350px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: "Nunito Sans", sans-serif;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#45322E;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* gap: 20px; */
}

.username-box{
    width: 85%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
    background: #FFF;
    color: #A9A9A9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-profile-btn{
    width: 37%;
    height: 57px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #8C6051;
    background: #8C6051;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; /* 60% */
}
.modal-profile-toggle {
    display: none;
}
.modal-profile-toggle:checked+.modal-profile {
    display: flex;
}
.empty-favorites {
    text-align: center;
    padding: 20px;
    color: var(--text-color-secondary);
    font-size: 16px;
    margin-top: 20px;
  }
  
  .error-message {
    text-align: center;
    padding: 20px;
    color: #ff0000;
    font-size: 16px;
    margin-top: 20px;
  }